[user]
	name = Dan Sudenfield
    #email = dsudenfield@gmail.com
[core]
	editor = vim
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
